.p-about {
    max-width: 960px;
    margin: 0 auto;
    //text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__heading {
        font-size: 32px;
        border-bottom: 1px solid #383e45;
        margin-top: 100px;
        margin-bottom: 60px;
        //text-align: center;
        display: inline-block;//文字の長さだけborderを設定できる
    }
}
