.l-footer {
    text-align: center;
    height: 35px;
    
    p {
        font-size: 5px;
        line-height: 35px;
    }
}

/*.p-footer {
    text-align: center;

    p {
        font-size: 5px;
        line-height: 35px;
    }
}*/